<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="">
      <input type="search" id="search-title" placeholder="Search by Title">
      <input type="search" id="search-company" placeholder="Search by Company">
      Sort by:
      <select id="sort">
        <option value="">Choose...</option>
        <option value="createdAt">Created At</option>
        <option value="title">Title</option>
        <option value="company">Company</option>
      </select>
    </form>

    <section id="jobs-container">
      <button id="add-job">Add a Job</button>
      <ul>
        <li class="job">
          <h3><a href="#">Software Engineer</a></h3>
          <p>at <strong>Acme Inc.</strong>, posted at 9:23am on February 19, 2016
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
        <li class="job">
          <h3><a href="#">Software Engineer</a></h3>
          <p>at <strong>Acme Inc.</strong>, posted at 9:23am on February 19, 2016
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
        <li class="job">
          <h3><a href="#">Software Engineer</a></h3>
          <p>at <strong>Acme Inc.</strong>, posted at 9:23am on February 19, 2016
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
        <li class="job">
          <h3><a href="#">Software Engineer</a></h3>
          <p>at <strong>Acme Inc.</strong>, posted at 9:23am on February 19, 2016
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
        <li class="job">
          <h3><a href="#">Software Engineer</a></h3>
          <p>at <strong>Acme Inc.</strong>, posted at 9:23am on February 19, 2016
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </li>
      </ul>
      <button id="load-more">Load More</button>
    </section>


  </body>
</html>
